@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$font-primary;
    line-height: 1.6;
    color: variables.$text-color;
    background-color: variables.$bg-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}